.main-page {
  display: grid;
  width: 100%;
  height: 60vh;
  grid-template-columns: 5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "main secondary1 secondary2"
  "main secondary3 secondary4";
}

.swiper-container {
  width: 100%;
  grid-area: main;
}

.poster-s {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  transition: all .4s;
}

.poster-s::after {
  content: '';
  width: 600px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.726);
  z-index: 1;
}

.poster-s:hover {
  width: 110%;
  height: 110%;
  background-color: khaki;
}

.secondary1 {
  grid-area: secondary1;
}

.secondary2 {
  grid-area: secondary2;
}

.secondary3 {
  grid-area: secondary3;
}

.secondary4 {
  grid-area: secondary4;
}

.swiper-slide {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.slide-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}
/*
.swiper-slide::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 1;
}
*/
.slide-inner {
  position: absolute;
  width: 80%;
  height: 80%;
  z-index: 2;
  padding: 5vmin;
}

.content {
  width: 100%;
  height: 100vh;
  background-color: rgb(58, 56, 53);
  color: #fff;
}
